<div>
  <button mat-raised-button> Hello </button>
  <button mat-flat-button> Hello </button>
  <button mat-stroked-button> Hello </button>
</div>

<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Minifab</button>
</div>

<div>
  <button color="primary" mat-button>primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" disableRipple mat-button>Warn</button>
  <button color="primary" mat-raised-button>primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warn</button>
</div>

<h2 style="text-align:center">Button Toggle</h2>

<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="Angular">Angular</mat-button-toggle>
    <mat-button-toggle value="React">React</mat-button-toggle>
    <mat-button-toggle value="Vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
</div>